header
{
  padding-bottom: .3rem;
  min-height: .75rem;
  nav{
    padding-right: 1rem;
    float: right;
    display: table-cell;
    &>a{
      padding: .1rem;
      line-height: 40px;
      letter-spacing: 0;
      &:hover {
        border-bottom: 3px solid #42b983;
      }
    }
    
  }

  .name-middle {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    // border: 2px solid @light-blue-hover;
    color: @light-blue-hover;
    float: left;
    margin: 0;
    box-shadow: 0 0 .3rem @light-blue;
    // transform: rotateZ(45deg) translateX(.5rem);
  }
}