#HOBBY{
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: all 3s cubic-bezier(.95, .05, .95, .05);
  font-family: 'Dancing Script', cursive;
  .text-part {
    h1{
      font-family: 'Dancing Script', cursive;
      color: @dark-green; 
      letter-spacing: .05rem;
    }
    h3{
      font-family: 'Dancing Script', cursive;
    }
  }
  .img-part .fa{
    color: @dark-green;
  }
}

#PLAYNOW {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: .65rem;
  text-align: center;
  background-color: @light-white;
  color: @light-grey;
  opacity: 0;
  z-index: 1;
  .fa{
    position: absolute;
    top: 40%; 
    left: 45%;   
    border: 10px solid @light-grey;
    width: .8rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    text-align: center;
    padding-left: .2rem;
    background-color: @green;

  }
  &:hover, &.finger-hover{
    opacity: 1;
    color: @sky-blue;
    .fa {
      &.disabled{
        color: @grey;
        border-color: @grey;
        background-color: transparent;

      }
      border-color: @light-green;
    }
    .fa:not(.disabled) {
      animation: colorswitch 10s linear infinite;
    }
  }
  .fa-pause{
    padding-left: 0rem;
    width: 1rem;
  }
}
@-webkit-keyframes colorswitch {
  0{
    transform: rotateZ(0deg);
    color: @sky-blue;
    border-color: @light-green;
  }
  25%{
    color: rgba(255, 55, 55, .5);
  }
  50% {
    color: @light-green;
    border-color: @light-blue;
  }
  75%{
    color: rgba(255, 55, 55, .5);
  }
  100% {
    border-color: @light-green;
    color: @sky-blue;
    transform: rotateZ(360deg);
  }

}
.slide-movie{
  width: 10000%;
  min-height: 4.5rem;
  .slide-container{
    width: 1%;
    margin: 0;
    float: left;
    max-width: 1%;
  }
}