#HOBBY{
  overflow-y: hidden;
  max-height: 0;
  font-family: 'Dancing Script', cursive;
  transition: all 5s linear;
  .text-part {
    h1{
      font-family: 'Dancing Script', cursive;
      color: @dark-green; 
      letter-spacing: .05rem;
    }
    h3{
      font-family: 'Dancing Script', cursive;
    }
  }
  .img-part .fa{
    color: @dark-green;
  }
}