#SKILL{
  background-color: @light-grey;
  overflow: hidden;
  overflow-y: auto;
  .slide {
    min-height: 4.5rem;
  }
  .text-part{
    h1{
      margin-top: 0;
      font-size: .3rem;
      letter-spacing: .02rem;
      font-weight: normal;
      color: @black;
      font-family: monospace, 'Helvetica Neue', Arial, sans-serif;
    }
    h3{
      text-indent: .4rem;
      font-style: italic;
      color: @black;
      font-weight: 100;
    }
  }

  .img-part{
    font-size: .2rem;
    color: @light-black;
    li{
      padding: .05rem 0;
    }
    .fa{
      color: @light-sky-blue;
      margin-right: .05rem;
    }
    .icon-row {
      position: relative;
      top: 80%;
      font-size: .16rem;
      color: @light-blue-hover;
      .fa{
        color: green;

      }
      .red .fa{
        float: right;
        margin: 0 .05rem;
        color: @dark-grey;
        &:hover{
          color: red;
        }
      }
      a:visited .fa{
        color: red;
      }
    }
  }
}

// 我的经验区左滑动
.my-experience {
  position: relative;
  .text-part, .img-part{
    transition: all 1.5s ease-in-out;
  }
  .slide{
    position: absolute;
    width: 100%;
    top: 0;
    left: 100rem;
    transition: all 1.5s ease-in-out;
  }

  &.slide-left{
    &>.text-part, &>.img-part{
      transform: translateX(-400%);
    }
    &>.slide{
      left: 0;
    }
  }
}
