#SAYING
{
  position: relative;
  &>i.fa {
    position: absolute;
    top: 50%;
    font-size: 1rem;
    color: @super-light-blue;
    &:hover{
      color: @light-blue;
    }
  }
  .previous {
    left: .2rem;
  }
  .next {
    right: .2rem;
  }
  
}

.slide {
    margin: 0 auto;
    min-height: 5rem;
    max-width: 8rem;
}

@media (max-width: 975px) {
  .slide {
    .left-part {
      text-align: center;
      width: 100%;
      float: none;
    }
    .right-part {
      float: none;
      text-align: center;
      margin: 0 auto;
      float: none;
      min-width: 4rem;
    }
  }
}

.left-part{
  width: 3.7rem;
  padding-top: .25rem;
  float: left;
  h1 {
    color: @green;
    font-size: .36rem;
    font-family: "AvenirNextLTPro-UltLt", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.02rem;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: default;
  }
  h3 {
    color: @light-blue;
    font-size: .20rem;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 4px 0px 32px;
    line-height: 1.4;
    letter-spacing: -0.01rem;
  }
  .btn {
    display: inline-block;
    color: @green;
    border: 2px solid @green;
    margin-top: .2rem;
    padding: .15rem .32rem;
    font-size: .22rem;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 1;
  }

}

.right-part {
  float: right;
  min-height: 100%;
  width: 40%;
  height: 3.5rem;
  margin-top: .5rem;
  background-position: center;   
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/phone.png);
}
[slide-type="function"] .right-part{
  // background-size: contai;
  background-image: url("../img/windows.png")
}
[slide-type="sap"] .right-part{
  // background-size: cover;
  background-image: url("../img/ipad.png")
}